@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', arial, cursive;
}

body{
    text-align: center;
    background-image: linear-gradient(to bottom, #6e6ee4, #ffffffd5);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

img.pokedex{
    width: 100%;
    max-width: 425px;
}

img.pokemon_image{
    position: absolute;
    cursor: pointer;
    left: 50%;
    bottom: 55%;
    transform: translate(-63%,20%); /* Opicional está tag */
    height: 17%;
}

.pokemon_data{
    position: absolute;
    font-weight: 600;
    color: #3b3b3b;
    font-size: clamp(10px, 5vw, 28px);
    top: 54.4%;
    right: 27%;
}

.pokemon_name{
    color: #3b3b3b;
    text-transform: capitalize;
}

form{
    position: absolute;
    width: 65%;
    margin: auto;
    top: 65%; left: 13.5%;
}

.input_search{
    width: 77%;
    padding: 3.2%;
    outline: none;
    border: 2px solid #333;
    border-radius: 10px;
    font-weight: 600;
    font-size: clamp(10px, 5vw, 20px) ;
    color: #1b1b1b;
    text-align: center;
    box-shadow: -3px 3px 0px #888, -5px 5px 0px black;
}


.buttons{
    position: absolute;
    bottom: 10.5%;
    left: 50%;
    transform: translate(-55%,20%);
    width: 65%;
    display: flex;
    gap: 5% ;
}

.button{
    cursor: pointer;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -2px 3px 0px rgba(0, 0, 0, 0.644), -3px 4px 0px rgba(0, 0, 0, 0.788);
    padding: 4%;
    font-size: clamp(10px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #333;
}

.button:active{
    box-shadow: inset -4px 4px 0 rgba(0, 0, 0, 0.452);
    font-size: 0.9rem;
}
