@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', arial, cursive;
}

body{
    text-align: center;
    background-image: linear-gradient(to bottom, #6e6ee4, #ffffffd5);
    min-height: 100vh;
}

main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

img.pokedex{
    width: 100%;
    max-width: 425px;
}

img.pokemon_image{
    position: absolute;
    left: 50%;
    bottom: 55%;
    transform: translate(-63%,20%); /* Opicional está tag */
    height: 17%;
}

.pokemon_data{
    position: absolute;
    font-weight: 600;
    color: #3b3b3b;
    font-size: clamp(10px, 5vw, 28px);
    top: 54.4%;
    right: 27%;
}

.pokemon_name{
    color: #3b3b3b;
    text-transform: capitalize;
}

form{
    position: absolute;
    width: 65%;
    margin: auto;
    top: 65%; left: 13.5%;
}

.input_search{
    width: 75%;
    padding: 3.2%;
    outline: none;
    border: 2px solid #333;
    border-radius: 10px;
    font-weight: 600;
    font-size: clamp(10px, 5vw, 20px) ;
    color: #1b1b1b;
    text-align: center;
    box-shadow: -1px 1px 3px #333  ;
}